/* ------------ Body ------------ */
body {
  background-color: #d4dcc7;
  display: flex;
  font-family: "Arial";
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

/* ------------ Left Side --------------- */
@media (orientation: landscape) {
  .left-side {
    align-items: center;
    animation: expand-and-fade-in 0.8s ease-out forwards;
    display: flex;
    height: 100vh;
    justify-content: center;
    opacity: 0;
    order: 1;
    overflow: hidden;
    position: fixed; /* Alternativa: use sticky com top:0 */
    transform: scale(0.5);
    width: 70%;
    #Imagem_Login {
      width: 100%;
    }
  }
}
@media (orientation: portrait) {
  .left-side {
    display: none;
  }
}
/* ------------ Right Side --------------- */

.right-side {
  margin: 0 auto;
  width: 100%;
  animation: slide-in 0.8s ease-out forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  overflow-y: auto;

  #Logo_Line {
    display: flex;
    width: 100%;
    #Logo {
      width: 200px;
      margin: 0 auto;
    }
  }

  h2 {
    margin: 0 auto 15px auto;
    font-family: "Roboto", sans-serif;
    font-size: 2.4rem;
    text-align: center;
    display: block;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    /* ------------ Input Container ------------ */
    .input-container {
      max-width: 350px;
      margin: 0 auto;
      position: relative;
      width: 100%;
      margin-bottom: 30px;
      input {
        width: 100%;
        padding: 10px;
        border: none;
        padding-bottom: 5px; /* Diminua esse valor para aproximar o texto da linha */
        padding-top: 30px;
        border-bottom: 2px solid gray;
        outline: none;
        background: transparent;
        transition: border-color 0.3s ease-in-out;
        &:focus {
          border-bottom: 2px solid white; /* Linha branca ao focar */
          outline: none;
          caret-color: white;
        }
        &:focus + label,
        &:not(:placeholder-shown) + label {
          top: 0;
          font-size: 20px;
          color: black;
        }
        &:not(:placeholder-shown) ~ .forgot-password {
          display: none;
        }

        &[type="text"],
        &[type="email"],
        &[type="password"] {
          font-family: "Roboto", sans-serif;
          width: 100%;
          color: #000000;
          border-radius: 5px;
          max-width: 100%;
          box-sizing: border-box;
          font-size: 25px;
        }
      }

      .forgot-password {
        border: none;
        background: transparent;
        position: absolute;
        right: 10px;
        text-decoration: none;
        font-size: 30px;
        color: #ff00e0;
        margin: -15px auto;
        top: calc(50% - 3.5px);

        &:hover {
          cursor: pointer;
          color: #ff00e15f; /* Altere a cor conforme sua preferência */
        }
        &:active {
          transform: scale(0.98);
          color: #ff00e1a1; /* Altere a cor conforme sua preferência */
        }
      }

      label {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
        color: gray;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
      }
    }

    button[type="submit"] {
      width: 100%; /* Define a largura do botão */
      height: 60px; /* Define a altura do botão */
      font-size: 30px; /* Define o tamanho da fonte */
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      padding: 0; /* Remove o espaçamento interno */
      margin-bottom: 20px;
      border-radius: 10px;
      max-width: 350px;
      background: linear-gradient(to right, #334155, #4c6890);
      color: white;
      border: none;
      cursor: pointer;
      transition: background 0.3s ease;
      margin: 0 auto;
      &:hover {
        background: linear-gradient(to right, #3d4c62, #6984a9);
      }
      &:active {
        transform: scale(0.98);
        background: linear-gradient(to right, rgb(76, 94, 120), #7991b3);
      }
    }
    .or {
      font-family: "Roboto", sans-serif;
      font-weight: Regular;
      font-size: 30px;
      color: #000000;
      text-align: center;
      margin: 10px;
    }
    /* ------------ Botão Google Signin ------------ */
    .google-signin {
      display: flex;
      align-items: center; /* Alinha o conteúdo verticalmente ao centro */
      justify-content: center; /* Alinha o conteúdo horizontalmente ao centro */
      align-self: center;
      width: 150px; /* Define a largura do botão */
      height: 60px; /* Define a altura do botão */
      font-size: 20px; /* Define o tamanho da fonte */
      font-family: "Roboto", sans-serif;
      font-weight: medium;
      padding: 0; /* Remove o espaçamento interno */
      min-width: max-content; /* Faz o botão ser no mínimo do tamanho do texto */
      cursor: pointer;
      border-radius: 10px;
      background-color: #333333; /* Cor de fundo */
      color: white; /* Cor do texto */
      border: none;
      margin: 0;
      img {
        display: block;
        margin: 0;
        margin-right: 5px;
        height: 30px;
        width: 30px;
      }
      &:hover {
        background: linear-gradient(
          to right,
          #333333,
          #616161
        ); /* Degradê horizontal - Cor ao passar o mouse */
      }
      &:active {
        transform: scale(0.98);
        background: linear-gradient(
          to right,
          #4e4e4e,
          #8d8b8b
        ); /* Degradê horizontal - Cor ao passar o mouse */
      }
    }
    /* ------------ Account Prompt ------------ */
    .account-prompt {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      p {
        margin-top: 5px;
        width: 100%;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        color: #000000;
        margin: 0 auto;
      }
      .pink-link {
        cursor: pointer;
        border: none;
        background: transparent;
        margin-left: 5px;
        color: #ff00e0;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;
        &:hover {
          color: #f291d7;
        }
      }
    }
  }

  /* ------------ Footer Info ------------ */
  .footer-info .copyright {
    margin: 0;
    font-size: 15px;
    justify-self: center;
  }
}

@media (orientation: portrait) {
  .right-side {
    transform: none !important;
    animation: none !important;
    opacity: 1 !important;
  }
  @media (max-width: 265px) {
    .right-side {
      form {
        .input-container {
          .forgot-password {
            top: 0;
          }
        }
      }
    }
  }
}

@media (orientation: landscape) {
  .right-side {
    margin-left: 70%;
    width: 30%;
    flex-grow: 1;
    order: 2;
  }
  @media (max-width: 910px) {
    .right-side {
      form {
        .input-container {
          .forgot-password {
            top: 0;
          }
        }
      }
    }
  }
}

/*---------- Animações ------------*/

@keyframes slide-in {
  from {
    transform: translateX(-70%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes expand-and-fade-in {
  from {
    transform: scale(0.5); /* Começa menor */
    opacity: 0.5; /* Meio transparente */
  }
  to {
    transform: scale(1); /* Preenche o espaço */
    opacity: 1; /* Totalmente visível */
  }
}
