#chat-container {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 400px;
  background-color: white;
  border-left: 1px solid #ccc;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 999;
}

#chat-header {
  background: #222;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}
 
#chat-container {
  display: none;
}
@media (orientation: portrait) {
  #chat-container {
    margin-bottom: 100px;
  }
}

#chat-input {
  border: none;
  border-top: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.bottom-nav a:nth-child(3) img {
  width: 70px;
  height: 70px;
}
.logo {
  flex: 1;
}
@media (max-width: 440px) {
  .logo {
    display: none;
  }
}
.navbar::after {
  content: "";
  flex: 1;
}
header.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 5vw;
  gap: 20px;
  padding-bottom: 100px;
}

h1 {
  font-size: 3vh;
  color: #2d3e24;
}

h3 {
  font-size: 2.5vh;
  color: #3c5030;
}

input#search-input {
  width: 100%;
  max-width: 500px;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: 2px solid #a3b49a;
  border-radius: 8px;
  outline: none;
  margin-top: 10px;
  background-color: #f5f8f1;
}

#search-results,
#pending-invites,
#friends-list {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

#search-results div,
#pending-invites div,
#friends-list div {
  background-color: #c5cfb5;
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#search-results p,
#pending-invites p,
#friends-list p {
  margin: 0;
  font-size: 1.1rem;
}

button {
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  background-color: #a4b594;
  color: #000;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #949f81;
  transform: scale(1.05);
}

button.recusar {
  background-color: #dd6a6a;
  color: white;
}
button.recusar:hover {
  background-color: #a65353;
}
button.cancelar {
  background-color: #dd6a6a;
  color: white;
}
button.cancelar:hover {
  background-color: #a65353;
}
