@media (orientation: portrait) {
  .bottom-nav a:nth-child(1) img {
    width: 70px;
    height: 70px;
  }

  header {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo {
      width: 60px;
      height: 60px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .notification-icon {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }

  .main {
    display: block;
    max-height: calc(100vh - 162.4px);
    overflow-y: auto;
    header{
      display: flex;
      flex-direction: column;  
    }
    section{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; 
            margin: 0 10px;
    }
  }

}

@media (orientation: landscape) {
  
}
