.bottom-nav a:nth-child(1) img {
  width: 70px;
  height: 70px;
}


.notification-icon {
  width: 24px;
  height: 24px;
  margin: 0;
}


/* Estilo da imagem principal */
.header-image img {
  width: 100%;
  max-width: 90%;
  margin: 20px auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Texto principal */
.mobile p {
  font-size: 20px;
  text-align: justify; /* Justifica o texto para melhor espaçamento */
  line-height: 1.6; /* Aumenta o espaçamento entre linhas */
  margin: 20px 30px; /* Ajusta as margens para mais espaço */
  max-width: 100%;
  color: #000000; /* Cor do texto */
}
