nav a:nth-child(2) img {
  width: 70px;
  height: 70px;
}
header {
  justify-content: center;
  &::after {
    content: "";
    flex: 0 0 60px;
  }
}

main {
  max-height: calc(100vh - 162.4px);
  margin: 0 0;
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;

  header {
    width: 100%;
    height: 180px;
    padding: 0;
    margin: 0 0;
    &::after {
      content: none;
      flex: 0 0 auto;
    }
    img {
      align-self: center;
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }
    margin-top: 10px;
  }
  .profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto auto;
    gap: 15px;

    .detail-pair {
      width: 100%;
      gap: 20px;
      display: flex;
      margin: 0 auto;
      dt {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 68px;
        img {
          width: 60px;
          height: 60px;
        }
      }
      div {
        strong {
          font-family: "Roboto";
          font-weight: 600;
          font-size: 2rem;
          color: #000000;
          padding: 0;
        }
        dd {
          font-family: "Roboto";
          font-weight: 400;
          font-size: 1.6rem;
          color: #000000;
        }
        justify-content: center;
        align-items: start;
        flex-direction: column;
        margin-left: 10px;
      }
    }
  }
  footer {
    height: 120px;
    button {
      display: flex;
      cursor: pointer;
      background-color: #949f81;
      max-width: 200px;
      height: 80px;
      width: 100%;
      margin: 0 auto;
      border-radius: 5px;
      img {
        padding-left: 15px;
      }
      span {
        font-family: "Roboto";
        font-weight: 600;
        font-size: 1.3rem;
        margin: auto auto;
        padding-left: 15px;
        padding-right: 15px;
      }

      &:active {
        background-color: #949f81c0;
      }
      &:hover {
        transform: scale(1.05);
      }
      margin-bottom: 10px;
    }
  }
}



@media (orientation: landscape){
  main{
    
    overflow-y: auto;
    margin: auto;
    margin-top: calc(100px + (100vh - 100px - 317px)/2);
    flex-direction: row;
    max-width: 603.44px;
    max-height: 317px;
    

    header{
      margin: 0;
    }
    .profile-header{
      max-width: 367px;
      max-height: 317px;
      height: 100%;
      padding: 15px;
      padding-right: 60px;
      background-color: #c5cfb5;

      img{
        display: flex;
        width: 100%;
        height: 100%;

      }
    }
    .profile-details{
      max-height: 317px;
      margin: 0;
      margin-top: 0;
      margin-right:0;
      background-color: #c5cfb5;
    }



    footer{
      height: 0;
    }
  }
}