.bottom-nav a:nth-child(2) img {
  width: 70px;
  height: 70px;
}

.logo {
  flex: 1;
}

.navbar::after {
  content: "";
  flex: 1;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: calc(100vh - 100px - 93.75px); /* desconta a altura da navbar fixa */
  font-size: calc(1vh + 20px);

  .profile-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;
    gap: 2vh;

    .detail-pair {
      display: flex;
      align-items: center;
      gap: 30px; /* espaço entre o ícone e o texto */
    }

    .detail-icon {
      width: 50px;
      height: 50px;
      flex-shrink: 0;
    }
  }

  .profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .profile-picture {
    width: 150px;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  button {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    padding: 10px 40px;
    background-color: #d4dcc7;
    color: rgb(0, 0, 0);
    border-color: #949f81;
    border-radius: 5px;
    cursor: pointer;
    max-width: 100%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
      flex-shrink: 0;
    }

    &:hover {
      background-color: #949f81;
      transform: scale(1.1);
      transition: all 0.2s ease-in-out;
    }
  }
}

@media (max-height: 750px) {
  .profile-picture {
    animation: fadeOut 0.5s forwards;
    overflow: hidden;
    margin: 0;
  }
}
@media (min-height: 751px) {
  .profile-picture {
    animation: fadeIn 0.5s forwards;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    width: 0;
    height: 0;
  }
  to {
    opacity: 1;
    width: 150px;
    height: 150px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    height: 150px; /* ou o valor original */
    width: 150px; /* ou o valor original */
  }
  100% {
    opacity: 0;
    height: 0;
    width: 0;
  }
}


@media (orientation: landscape) {
  .profile-container button {
    display: none;
  }
}
