/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin: 0 auto;
  font-size: 50px;
  text-align: center;
  color: #000000;
  font-family: "Orbitron", sans-serif;
}

/* Estilo geral do body */
body {
  font-family: "Arial", sans-serif;
  background-color: #d4dcc7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  margin: 0;
  overflow: hidden;
}

/* Elementos padrão */
@media (orientation: portrait) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
}

/* VERSÃO DESKTOP \/ */
@media (orientation: landscape) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}
