/* ------------ Container Section ------------ */
.container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;
  flex-direction: column;
  min-height: 100vh;
}

/* ------------ Botão Submit (Hover e Active) ------------ */
button[type="submit"]:hover {
  background: linear-gradient(to right, #334155, #4c80ea);
}

button[type="submit"]:active {
  background: linear-gradient(to right, #334155, #7295dc);
}

/* ------------ Right Section ------------ */
.right-side {
  /* Mantenha os estilos existentes e altere: */
  transform: translateX(-100%); /* Posição inicial fora da tela à esquerda */
  animation: slide-in 0.8s ease-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(-70%);
  }
  to {
    transform: translateX(0);
  }
}

/* ------------ Botão Google Signin ------------ */
.google-signin {
  display: flex;
  align-items: center; /* Alinha o conteúdo verticalmente ao centro */
  justify-content: center; /* Alinha o conteúdo horizontalmente ao centro */
  align-self: center;
  width: 80%; /* Define a largura do botão */
  height: 60px; /* Define a altura do botão */
  font-size: 40px; /* Define o tamanho da fonte */
  font-family: "Roboto", sans-serif;
  font-weight: medium;
  padding: 0; /* Remove o espaçamento interno */
  min-width: max-content; /* Faz o botão ser no mínimo do tamanho do texto */
  max-width: 50%;
  cursor: pointer;
  border-radius: 10px;
  background-color: #333333; /* Cor de fundo */
  color: white; /* Cor do texto */
  border: none;
}

.google-signin img {
  display: block;
  margin: 0;
  margin-right: 5px;
  height: 30px;
  width: 30px;
}

.google-signin:hover {
  background: linear-gradient(
    to right,
    #333333,
    #616161
  ); /* Degradê horizontal - Cor ao passar o mouse */
}

.google-signin:active {
  background: linear-gradient(
    to right,
    #4e4e4e,
    #8d8b8b
  ); /* Degradê horizontal - Cor ao passar o mouse */
}

/* ------------ Account Prompt ------------ */
.account-prompt {
  width: 100%;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  text-align: center;
  margin-bottom: 0px;
}

.account-prompt .pink-link {
  color: #ff00e0;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.account-prompt .pink-link:hover {
  color: #f291d7;
}

/* ------------ Footer Info ------------ */
.footer-info .copyright {
  margin-bottom: 0px;
}

/* ------------ Mobile Styles (Portrait Orientation) ------------ */
@media (orientation: portrait) {
  .right-side {
    /* Junte todas as propriedades do right-side em uma única declaração */
    transform: none !important;
    animation: none !important;
    opacity: 1 !important; /* Adicione esta linha */
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .right-side img[alt="Logo"] {
    margin: 0; /* Maintain aspect ratio */
  }
  /* Oculta a seção esquerda */
  .left-side {
    display: none;
  }

  /* Estilos para o formulário */
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }

  form input[type="name"],
  form input[type="email"],
  form input[type="password"] {
    font-size: 25px;
  }

  /* Estilos para o botão submit no mobile */
  button[type="submit"] {
    width: 100%; /* Define a largura do botão */
    height: 60px; /* Define a altura do botão */
    font-size: 30px; /* Define o tamanho da fonte */
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 0; /* Remove o espaçamento interno */
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 350px;
    background: linear-gradient(to right, #334155, #4c6890);
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    display: block; /* Garante que o botão seja tratado como um bloco */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
  }

  /* Estilos para o rodapé no mobile */
  .footer-info {
    font-size: 15px;
  }

  /* Título mobile */
  h2.mobile-text {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: ExtraBold;
    font-size: 40px;
    margin-bottom: 15px;
  }

  /* Estilos para os inputs do formulário */
  input[type="name"],
  input[type="email"],
  input[type="password"] {
    font-family: "Roboto", sans-serif;
    font-weight: Regular;
    width: 100%;
    color: #000000;
    border: none;
    border-radius: 5px;
    max-width: 100%;
    box-sizing: border-box;
  }

  /* ------------ Input Container ------------ */
  .input-container {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
  }

  .input-container input {
    width: 100%;
    padding: 10px;
    border: none;
    padding-bottom: 5px; /* Diminua esse valor para aproximar o texto da linha */
    padding-top: 30px;
    border-bottom: 2px solid gray;
    outline: none;
    background: transparent;
    transition: border-color 0.3s ease-in-out;
  }
  .input-container input:focus {
    border-bottom: 2px solid white; /* Linha branca ao focar */
    outline: none;
    caret-color: white;
  }
  .input-container label {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: gray;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }
  .input-container input:focus + label,
  .input-container input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 20px;
    color: black;
  }
  .input-container .forgot-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    font-size: 30px;
    color: #ff00e0; /* Altere a cor conforme sua preferência */
    font-weight: semi-bold;
  }
  .input-container .forgot-password:hover {
    color: #ff00e15f; /* Altere a cor conforme sua preferência */
  }
  /* Oculta o link quando o usuário digita (quando o input não mostra o placeholder) */
  .input-container input:not(:placeholder-shown) ~ .forgot-password {
    display: none;
  }

  /* ------------ Seção "Or" ------------ */
  .or {
    font-family: "Roboto", sans-serif;
    font-weight: Regular;
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin: 10px;
  }
}

/* ------------ Estilos para Desktop ------------ */

@media (orientation: landscape) {
  /* Estilos para o container principal */
  .container {
    display: flex;
    flex-direction: row; /* Alinha os elementos lado a lado */
    width: 100%;
    height: 100%;
  }

  /* Estilos para a seção direita */
  .right-side {
    width: 40%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    order: 2; /* Move a seção para a direita */
  }

  /* Exibe a seção esquerda */
  .left-side {
    display: flex;
    width: 60%;
    overflow: hidden; /* Novo - impede que a imagem ultrapasse os limites */
    position: relative; /* Novo - para conter elementos absolutos */
    align-items: center;
    justify-content: center;
    order: 1;
  }

  .left-side img[alt="Logo"] {
    max-width: 100%; /* Novo - controla o tamanho máximo */
    height: auto;
    object-fit: contain; /* Novo - garante proporção correta */
    transition: transform 0.5s ease; /* Opcional - para efeito de hover */
  }

  /* Estilos para o formulário */
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }

  form input[type="name"],
  form input[type="email"],
  form input[type="password"] {
    font-size: 25px;
  }

  /* Estilos para o botão submit no mobile */
  button[type="submit"] {
    width: 100%; /* Define a largura do botão */
    height: 60px; /* Define a altura do botão */
    font-size: 30px; /* Define o tamanho da fonte */
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 0; /* Remove o espaçamento interno */
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 350px;
    background: linear-gradient(to right, #334155, #4c6890);
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    display: block; /* Garante que o botão seja tratado como um bloco */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
  }

  /* Estilos para o rodapé no mobile */
  .footer-info {
    font-size: 15px;
  }

  /* Título mobile */
  h2.mobile-text {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: ExtraBold;
    font-size: calc(25px + 1vw);
    margin-bottom: 15px;
  }

  /* Estilos para os inputs do formulário */
  input[type="name"],
  input[type="email"],
  input[type="password"] {
    font-family: "Roboto", sans-serif;
    font-weight: Regular;
    width: 100%;
    color: #000000;
    border: none;
    border-radius: 5px;
    max-width: 100%;
    box-sizing: border-box;
  }

  /* ------------ Input Container ------------ */
  .input-container {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
  }

  .input-container input {
    width: 100%;
    padding: 10px;
    border: none;
    padding-bottom: 5px; /* Diminua esse valor para aproximar o texto da linha */
    padding-top: 30px;
    border-bottom: 2px solid gray;
    outline: none;
    background: transparent;
    transition: border-color 0.3s ease-in-out;
  }
  .input-container input:focus {
    border-bottom: 2px solid white; /* Linha branca ao focar */
    outline: none;
    caret-color: white;
  }
  .input-container label {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: gray;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }
  .input-container input:focus + label,
  .input-container input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 20px;
    color: black;
  }
  .input-container .forgot-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    font-size: 30px;
    color: #ff00e0; /* Altere a cor conforme sua preferência */
    font-weight: semi-bold;
  }
  .input-container .forgot-password:hover {
    color: #ff00e15f; /* Altere a cor conforme sua preferência */
  }
  /* Oculta o link quando o usuário digita (quando o input não mostra o placeholder) */
  .input-container input:not(:placeholder-shown) ~ .forgot-password {
    display: none;
  }

  /* ------------ Seção "Or" ------------ */
  .or {
    font-family: "Roboto", sans-serif;
    font-weight: Regular;
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin: 10px;
  }
}
