.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 100vh;
  box-sizing: border-box;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  max-width: 180px;
  margin-bottom: 1.5rem;
}

.logo {
  width: 100%;
  height: 32px;
  filter: var(--logo-filter);
}

.loginForm {
  background: var(--form-bg);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  max-width: 450px;
  width: 100%;
  color: var(--text-primary);
  transition: background 0.3s ease, color 0.3s ease;
  height: 640px;
  position: relative;
}

.loginForm h2 {
  font-family: Inter, sans-serif;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
  font-size: 2.4rem;
  color: var(--text-primary); 
}
@media (max-width: 389px) {
  .loginForm h2 {
    font-size: 2.2rem; 
  }

}

.inputGroup {
  margin-bottom: 1rem;
}

.inputGroup label {
  display: block;
  font-family: Inter, sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 400;
  color: var(--text-secondary);
  font-size: 0.875rem;
  line-height: 1.4375em;
}

.inputGroup input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  font-size: 1rem;
  background-color: var(--input-bg);
  color: var(--input-text);
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.inputGroup input::placeholder {
  color: var(--input-placeholder);
}

.rememberMeContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  color: var(--text-secondary); 
  line-height: 1.5;
  font-weight: 600;
}

.rememberMeGroup {
  display: flex;
  align-items: center;
}

.rememberMeGroup input[type="checkbox"] {
  margin-right: 0.5rem;
  width: auto;
  accent-color: var(--checkbox-accent);
}

.rememberMeGroup label {
  margin-bottom: 0;
  cursor: pointer;
  color: inherit;
}

.loginButton {
  width: 100%;
  padding: 0.75rem;
  
  background: linear-gradient(to bottom, #282828, var(--button-primary-bg));
  color: var(--button-primary-text);
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;
}

.loginButton:hover {
  background: linear-gradient(to bottom, #1c1c1c, #101010c6);
}

.forgotPasswordLinkContainer {
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.linkButton {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  text-decoration: underline;
}

.linkButton:hover {
  color: #0056b3;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.5rem 0;
  color: #aaa;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.dividerText {
  color: black;
  padding: 0 1rem;
  font-size: 0.9rem;
}

.socialButton {
  width: 100%;
  padding: 0.65rem 0.75rem;
  border: 1px solid var(--button-social-border);
  border-radius: 4px;
  font-size: 0.95rem;
  cursor: pointer;
  background-color: var(--button-social-bg);
  color: var(--button-social-text);
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.socialButton:hover {
  background-color: var(--button-social-bg-hover);
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 0.75rem;
}

.registerLink {
  position: absolute;
  top: auto;
  bottom: 27px;     
  left: 0;          
  right: 0;         

  text-align: center;
  font-size: 0.9rem;
  color: var(--text-primary);
  margin: 0;
}

.registerLink .linkButton {
  font-weight: bold;
  color: var(--text-accent);
  :hover {
    color: var(--text-accent-hover);
  }
}


:global(.dark-theme) .loginButton {
  background: var(--button-primary-bg);
  color: var(--button-primary-text);
}

:global(.dark-theme) .loginButton:hover {
  background: var(--button-primary-bg-hover);
}

.linkButton {
  background: none;
  border: none;
  color: var(--text-accent);
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  text-decoration: underline;
  transition: color 0.2s;
  font-weight: 600;
}


.linkButton:hover {
  color: var(--text-accent-hover);
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--divider-color);
  transition: border-color 0.3s ease;
}

.dividerText {
  color: var(--divider-text-color);
  padding: 0 1rem;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}
